.sideNav li {
    list-style: none;
}

.sideNav li a {
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: center;
}

.sideNav li a span.sidenav-item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
}

.sideNav li a span.sidenav-item-icon svg {
    fill: inherit;
}

.sideNav a {
    display: block;
    padding: 5px 15px;
    color: var(--black);
}

.sideNav a.active {
    background-color: var(--blue);
    color: var(--white);
}

.sideNav li a.active span.sidenav-item-icon svg {
    fill: var(--white);
}