.card.auditor-status-card {
    width: 200px;
}

.performance-chart {
    height: 210px;
    width: 100%;
    max-width: 210px;
}

.legend-marker {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
}