.dashboardContainer {
    min-height: calc(100vh - 136px);
}

.activityItem {
    display: grid;
    min-height: 80px;
    grid-template-columns: 80px 1fr;
    border-bottom: 2px solid var(--page-bg);
    gap: 8px;
}

.activityItemLeft {
    max-height: 120px;
    color: var(--white);
}

.dashboardGrid {
    display: grid;
    grid-template-columns: 436px 1fr;
    grid-gap: 1rem;
    min-height: 660px;
}

.dashboardGridCol1 {
    display: grid;
    grid-template-rows: auto 0px auto minmax(200px, 1fr);
    min-height: 100%;
    height: calc(100vh - 234px);
}

.dashboardGridCol2 {
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 1rem;
    min-height: 100%;
}

.overallChartGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 226px;
}

.qButtons {
    border: 1px solid var(--gray);
    border-radius: 1rem;
    box-sizing: border-box;
    width: 44px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.qButtons:hover {
    background-color: var(--gray-800);
}

.qButtonSelected {
    border: 2px solid var(--royal-blue);
    font-weight: bold;
    color: var(--royal-blue);
}