.dashboardContainer {
    min-height: calc(100vh - 136px);
}

.dashboardCol1 {
    display: grid;
    grid-template-rows: auto 0px auto minmax(200px, 1fr);
    min-width: 436px;
}

.activityItem {
    display: grid;
    min-height: 80px;
    grid-template-columns: 80px 1fr;
    border-bottom: 2px solid var(--page-bg);
    gap: 8px;
}

.activityItemLeft {
    max-height: 120px;
    color: var(--white);
}