.btn.btn-primary {
    background-color: var(--royal-blue);
}

.btn.btn-primary2 {
    background-color: var(--blue);
}

.btn.btn-outline-secondary {
    background-color: var(--white);
    border-color: var(--red);
    color: var(--red);
}