input::placeholder,
textarea::placeholder {
    font-size: var(--font-sm);
    text-transform: initial !important;
}

.form-label {
    margin-bottom: 0;
}

.form-group {
    position: relative;
    padding-bottom: 0.825rem;
    margin-bottom: 0;
}

.input-group.has-group-text-right .form-control {
    border-right: none !important;
}

.input-group-text {
    background-color: transparent;
    border-top-right-radius: 0.375rem !important;
    border-bottom-right-radius: 0.375rem !important;
}

.form-control:focus {
    box-shadow: none;
    border-color: hsl(0, 0%, 80%);
}

.form-control.is-valid:focus,
.form-control.is-invalid:focus {
    box-shadow: none;
}

.form-control.is-valid,
.form-control.is-valid:focus,
.form-control.is-valid+.input-group-text {
    border-color: var(--emarald-green);
    background-image: none;
}

.form-control.is-invalid,
.form-control.is-invalid:focus,
.form-control.is-invalid+.input-group-text {
    border-color: var(--light-red);
    background-image: none;
}

.form-group .invalid-feedback {
    position: absolute;
    bottom: -4px;
    font-size: var(--font-sm);
    margin-top: 0;
    line-height: var(--font-sm);
}

.select-control {
    width: 100%;
}

.select-control [class$="-control"],
.select-control [class$="-control"]:hover {
    box-shadow: none;
    border-color: hsl(0, 0%, 80%);
}

.select-control [class$="-indicatorSeparator"] {
    display: none;
}

.select-control.error-field [class$="-control"] {
    border-color: var(--light-red);
}