:root {
  --white: #FFFFFF;
  --black: #000000;
  --black-600: rgba(0, 0, 0, 0.6);

  --royal-blue: #2965AD;
  --mid-royal-blue: #3C87C2;
  --blue: #3C93D8;
  --pale-blue: #DEEFF9;

  --dark-gray: #322C2D;
  --gray: #A5A5A5;
  --medium-gray: #CCD0D3;
  --gray-300: rgba(50, 44, 45, 0.3);
  --gray-500: rgba(50, 44, 45, 0.5);
  --gray-800: rgba(50, 44, 45, 0.08);
  --gray-400: rgba(50, 44, 45, 0.04);

  --yellow: #FFC000;

  --red: #FF0000;
  --medium-red: #FF2D2D;
  --light-red: rgba(220, 53, 69, 0.5);

  --dark-green: #548235;
  --emarald-green: #0D9500;
  --green: #4EC343;
  --light-green: #A9D18E;

  --orange: #fc8403;

  --page-bg: #a1cbe7;

  /* Fonts */
  /* 10px */
  --font-xs: 0.625rem;
  /* 12px */
  --font-sm: 0.75rem;
  /* 14px */
  --font-md: 0.875rem;
  /* 16px */
  --font-base: 1rem;
  /* 20px */
  --font-lg: 1.25rem;
  /* 24px */
  --font-xl: 1.5rem;
  /* 32px */
  --font-xxl: 2rem;
  /* 64px */
  --font-xxxl: 3rem;
}

.text-xs {
  font-size: var(--font-xs);
}

.text-sm {
  font-size: var(--font-sm);
}

.text-md {
  font-size: var(--font-md);
}

.text-lg {
  font-size: var(--font-lg);
}

.text-xl {
  font-size: var(--font-xl);
}

.text-xxl {
  font-size: var(--font-xxl);
}

.text-xxxl {
  font-size: var(--font-xxxl);
}

.text-success {
  color: var(--emarald-green);
  fill: var(--emarald-green);
}

.text-error {
  color: var(--red);
  fill: var(--red);
}

.text-dark-gray {
  color: var(--dark-gray);
}

.text-gray-800 {
  color: var(--gray-800);
}

.text-appprimary {
  color: var(--royal-blue) !important;
}

.text-black-600 {
  color: var(--black-600) !important;
}

.bg-dashboard {
  background-color: var(--mid-royal-blue);
}

.letter-spacing-2 {
  letter-spacing: 0.5rem;
}

a,
link {
  text-decoration: none !important;
}

body {
  background-color: var(--page-bg) !important;
  overflow: hidden !important;
  font-size: var(--font-base);
}

/* overwrite css */

.btn-check:checked+.btn {
  background-color: var(--royal-blue) !important;
  box-shadow: 0 0 0 1px #417fbd inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 6px 0 0 #2061b1, 0 8px 8px 1px rgba(0, 0, 0, 0.5) !important;
}


.underline {
  text-decoration: underline !important;
}

.userNameL {
  width: 25px;
  height: 25px;
  display: inline-block;
  background: purple;
}

.pageHeading {
  background-color: var(--royal-blue);
  height: 52px;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  justify-content: space-between;
  color: var(--white);
}

.breadcrumb li {
  font-size: 0.875rem;
}

.breadcrumb a {
  color: var(--white);
}

.breadcrumb-item.active {
  color: var(--white);
}

.breadcrumb-item+.breadcrumb-item::before {
  color: var(--white);
}


/* Dashboard-Tabs Start */
.nav-tabs.dashboardTabs {
  border-bottom: 3px solid var(--white);
}

.nav-tabs.dashboardTabs .nav-link {
  border-radius: 25px 25px 0 0;
  background-color: var(--gray);
  color: var(--white);
  padding: 10px 35px;
  font-weight: 500;
}

.nav-tabs.dashboardTabs .nav-link.active {
  background-color: var(--royal-blue);
  color: var(--white);
  border: none;
  border-bottom-width: 2px;
  box-shadow: 0 0 0 1px #417fbd inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 6px 0 0 #1a406b, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
  position: relative;
  top: -2px;
}

/* Dashboard-cards count */

.shadow {
  box-shadow: -4px 8px 8px rgba(0, 0, 0, 0.2) !important;
}

.cardCount {
  height: 60px;
  color: var(--white);
}

.cardCount a {
  width: 25px;
  height: 25px;
  background-color: var(--royal-blue);
  display: inline-block;
  text-align: center;
  color: var(--white);
}


.cardCount.grey {
  border-left: 5px solid var(--gray);
}

.cardCount.grey a {
  background-color: var(--gray);
}

.cardCount.red {
  border-left: 5px solid var(--red);
}

.cardCount.red a {
  background-color: var(--red);
}

.cardCount.yellow {
  border-left: 5px solid var(--yellow);
}

.cardCount.yellow a {
  background-color: var(--yellow);
}

.cardCount.green {
  border-left: 5px solid var(--green);
}

.cardCount.green a {
  background-color: var(--green);
}

.vendorPerformance-cards {
  min-height: 315px;
}

.vendorPerformance-cards .cardCount {
  font-size: .85rem;
}

.vendorPerformance-cards .cardCount h3 {
  font-size: 1.2rem;
}

.vendorPerformance-cards .cardCount a {
  width: 15px;
  height: 15px;
}


.nav-tabs-rounded {
  background-color: var(--gray-800);
  color: var(--dark-gray);
  border-radius: 5px;
  font-size: 1rem;
}

.nav-tabs-rounded .nav-item .nav-link {
  background-color: transparent;
  color: var(--dark-gray);
  border-radius: 5px;
  padding: 5px 10px;
}

.nav-tabs-rounded .nav-item .nav-link.active {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  box-shadow: 0 0 0 1px #1578d9 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 6px 0 0 #3a6f9f, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
  position: relative;
  top: -4px;
}

.nav-tabs-rounded .nav-item .nav-link.active:acive {
  top: 0;
  box-shadow: none;
}


.cardList {
  border-top: 5px solid transparent;
  height: 90px;
}

.cardList li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 0;
}

.cardList.red {
  border-top: 5px solid var(--red);
}

.cardList.red span {
  color: var(--red);
}

.cardList.yellow span {
  color: var(--yellow);
}


/* Forms styling */

.form-select {
  border: 1px solid var(--black) !important;
}


/* progress bar prime override  */
.progress {
  background-color: #cdd7dc !important;
}

.progress .progress-bar {
  background-color: #21a7e6 !important;
}

/*vendor dashboard Newupdates */

.bannerSlider .carousel-control-next,
.bannerSlider .carousel-control-prev {
  display: none;
}

.bannerSlider img {
  height: 100vh
}

.loginSection {
  background-color: var(--white);
  position: relative;
  z-index: 999;
}

.loginSection:before {
  border-left: 16px solid var(--royal-blue);
  background-color: var(--white);
  position: absolute;
  z-index: -1;
  left: -20%;
  top: -10%;
  bottom: -10%;
  right: 0;
  width: 40%;
  content: "";
  transform: rotate(10deg) skewY(-10deg);
}

.fixed_header {
  table-layout: fixed;
  border-collapse: collapse;
}

.fixed_header tbody {
  display: block;
  width: 100%;
  overflow: auto;
}

.fixed_header thead tr,
.fixed_header tbody tr {
  display: flex;
}

.error [class*="-control"] {
  border-color: var(--bs-danger);
}

.yellow path {
  fill: var(--yellow);
}

.grey path {
  fill: var(--gray);
}

.green path {
  fill: var(--green);
}

.red path {
  fill: var(--red);
}

.filter-label {
  color: var(--bs-gray-500);
}

.required {
  color: var(--bs-danger);
}

.form-control {
  border-color: hsl(0, 0%, 80%);
}

table.table {
  font-size: 14px;
}

.status-ActivitySaved,
.status-not-applicable {
  color: var(--gray-500);
}

.status-Pending {
  color: var(--yellow);
}

.status-Overdue,
.status-Rejected,
.status-non-compliance {
  color: var(--red);
}

.status-Submitted {
  color: var(--light-green);
}

.status-Approved,
.status-compliant {
  color: var(--dark-green);
}

.filters label {
  padding-left: 0.25rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.filters [class*="-menu"] {
  min-width: 200px;
}

.filters [class*="-container"] {
  max-width: 200px;
}

.filters [class*="-container"] [class*="-control"] {
  font-size: var(--font-md);
  box-shadow: none;
  width: 180px;
  border-color: var(--page-bg);
}

.filters [class*="-container"] [class*="-control"]:hover,
.filters [class*="-container"] [class*="-control"]:focus,
.filters [class*="-container"] [class*="-control"]:active {
  border-color: var(--page-bg);
  box-shadow: none;
}


.filters [class*="-container"] [class*="-control"] [class*="-ValueContainer"] {
  padding: 0 4px;
}

.filters [class*="-container"] [class*="-control"] [class*="-indicatorContainer"] {
  padding: 0 4px;
}